h2, .experience-institution, #about h3 {
  display: none;
}

#about p {
  font-style: italic;
  color: #909090;
  margin-bottom: 100px;
  width: 600px;
  margin-left: -10px;
}

#about {
  border: 0;
  clear: none;
}

#contact h3 {
  display: none;
}

.skill {
  color: white;
  background-color: DarkCyan;
  margin: 4px;
  width: 150px;
}

.skills-primary .skill {
  padding: 9px;
}

.skills-secondary .skill {
  padding: 5px;
  padding-right: 13px;
  font-size: 12px;
}

.experience-details {
  color: #909090;
}

.experience-type {
  color: DarkCyan;
}

section {

  padding-left: 9px;
  clear: both;
}

.content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

h1 {
  border-bottom: 1px solid;
  border-color: #d9d9d9;
}

h3 {
  font-style: italic;
}

.skill[data-skill='1'] span::after {
  content: ' ★';
  font-size: 20px;
  float: right;
}

.skill[data-skill='3'] span::after {
  content: ' ★★';
  font-size: 20px;
  float: right;
}

.skill[data-skill='5'] span::after {
  content: ' ★★★';
  font-size: 20px;
  float: right;
}

.skill[data-skill='7'] span::after {
  content: ' ★★★★';
  font-size: 10px;
  float: right;
}

.skill[data-skill='9'] span::after {
  content: ' ★★★★★';
  font-size: 10px;
  float: right;
}

div.skills.skills-secondary .skill[data-skill='5'] span::after {
  content: ' ★★★';
  font-size: 10px;
  float: right;
}

img {
  position: relative;
  top: -70px;
  height: 135px;
  width: 135px;
  transform: rotate(-15deg);
  float: right;
}

.skill {
  float: left;
}

.contact-type{
  display:none;
}


a[href='mailto:jad@codi.tech']{
background: url('images/email.png') no-repeat 6px center;
background-size: 85px 85px;
width: 85px;
height: 85px;
display: block;
}
a[href='tel:+96170261482']{
background: url('images/phone.png') no-repeat 6px center;
background-size: 85px 85px;
width: 85px;
height: 85px;
display: block;
}

a[href='https://github.com/Xananax/']{
background: url('images/github.png') no-repeat 6px center;
background-size: 85px 85px;
width: 85px;
height: 85px;
display: block;
}

a[href='//www.facebook.com/sad.jarout']{
background: url('images/facebook.png') no-repeat 6px center;
background-size: 85px 85px;
width: 85px;
height: 85px;
display: block;
}

a{
  float: left;
}
a,a:visited,a:link,a:active{
  color: transparent;

}
.contact-skype{
  display: none;
}

section{
  position: relative;
}

section > h3{
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid black;
  width: 190px;
  height: 100%;
  margin: 0;
  padding: 0;
}

section > div, section > ul{
  padding-left: 200px;
}

.skills{
  clear:both;
  float: left;
}

#competencies::after{
  content:"";
  display: table;
  clear:both;
}
.experience{
  position: relative;
}
.experience-details{
 position:absolute;
 top:0;
 right:0;
}
ul{
  margin-left: 20px;
}
